<article class="article article-type-post" itemscope itemprop="post">
    <div class="article-inner">
        {{ if .Title }}
            <header class="article-header">
                <h1 class="article-title" itemprop="name">{{ .Title }}</h1>
            </header>
        {{ end }}

        <div class="article-entry" itemprop="articleBody">
            {{ .Content }}
        </div>

        {{ if .Params.tags }}
            {{ $Site := .Site }}
            <footer class="article-footer">
                <ul class="article-tag-list">
                    {{ range .Params.tags }}
                        <li class="article-tag-list-item">
                            <a class="article-tag-list-link" href="{{ $Site.BaseURL }}/tags/{{ . | urlize }}">{{ . }}</a>
                        </li>
                    {{ end }}
                </ul>
            </footer>
        {{ end }}
    </div>
</article>
